@page "/worktask"
//rename this file and class to WorkTask
//rename the file to WorkTask.razor
//rename the class to WorkTask
//rename the path to WorkTracker/Components/Pages/WorkTask.razor

<h3>WorkItem</h3>

@code {

}
